@import 'tailwindcss';

[data-theme='light'] {
  --primary-color-50: var(--color-zinc-50);
  --primary-color-100: var(--color-zinc-100);
  --primary-color-200: var(--color-zinc-200);
  --primary-color-300: var(--color-zinc-300);
  --primary-color-400: var(--color-zinc-400);
  --primary-color-500: var(--color-zinc-500);
  --primary-color-600: var(--color-zinc-600);
  --primary-color-700: var(--color-zinc-700);
  --primary-color-800: var(--color-zinc-800);
  --primary-color-900: var(--color-zinc-900);
  --primary-color-950: var(--color-zinc-950);

  --accent-color-50: var(--color-fuchsia-50);
  --accent-color-100: var(--color-fuchsia-100);
  --accent-color-200: var(--color-fuchsia-200);
  --accent-color-300: var(--color-fuchsia-300);
  --accent-color-400: var(--color-fuchsia-400);
  --accent-color-500: var(--color-fuchsia-500);
  --accent-color-600: var(--color-fuchsia-600);
  --accent-color-700: var(--color-fuchsia-700);
  --accent-color-800: var(--color-fuchsia-800);
  --accent-color-900: var(--color-fuchsia-900);
  --accent-color-950: var(--color-fuchsia-950);
}

[data-theme='dark'] {
  --primary-color-50: var(--color-zinc-950);
  --primary-color-100: var(--color-zinc-900);
  --primary-color-200: var(--color-zinc-800);
  --primary-color-300: var(--color-zinc-700);
  --primary-color-400: var(--color-zinc-600);
  --primary-color-500: var(--color-zinc-500);
  --primary-color-600: var(--color-zinc-400);
  --primary-color-700: var(--color-zinc-300);
  --primary-color-800: var(--color-zinc-200);
  --primary-color-900: var(--color-zinc-100);
  --primary-color-950: var(--color-zinc-50);

  --accent-color-50: var(--color-fuchsia-950);
  --accent-color-100: var(--color-fuchsia-900);
  --accent-color-200: var(--color-fuchsia-800);
  --accent-color-300: var(--color-fuchsia-700);
  --accent-color-400: var(--color-fuchsia-600);
  --accent-color-500: var(--color-fuchsia-500);
  --accent-color-600: var(--color-fuchsia-400);
  --accent-color-700: var(--color-fuchsia-300);
  --accent-color-800: var(--color-fuchsia-200);
  --accent-color-900: var(--color-fuchsia-100);
  --accent-color-950: var(--color-fuchsia-50);
}

@theme inline {
  --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';

  --color-primary-50: var(--primary-color-50);
  --color-primary-100: var(--primary-color-100);
  --color-primary-200: var(--primary-color-200);
  --color-primary-300: var(--primary-color-300);
  --color-primary-400: var(--primary-color-400);
  --color-primary-500: var(--primary-color-500);
  --color-primary-600: var(--primary-color-600);
  --color-primary-700: var(--primary-color-700);
  --color-primary-800: var(--primary-color-800);
  --color-primary-900: var(--primary-color-900);
  --color-primary-950: var(--primary-color-950);

  --color-accent-50: var(--accent-color-50);
  --color-accent-100: var(--accent-color-100);
  --color-accent-200: var(--accent-color-200);
  --color-accent-300: var(--accent-color-300);
  --color-accent-400: var(--accent-color-400);
  --color-accent-500: var(--accent-color-500);
  --color-accent-600: var(--accent-color-600);
  --color-accent-700: var(--accent-color-700);
  --color-accent-800: var(--accent-color-800);
  --color-accent-900: var(--accent-color-900);
  --color-accent-950: var(--accent-color-950);
}

@layer components {
  .typography-medium-16 {
    font-family: var(--font-sans);
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0;
  }

  .typography-regular-14 {
    font-family: var(--font-sans);
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0;
  }

  .typography-regular-12 {
    font-family: var(--font-sans);
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0;
  }
}

body {
  background-color: var(--primary-color-50);
  color: var(--primary-color-950);
}
